h1{
    display: flex;
    margin-left: 40%;
}

#form{
    width: 25%;
    display: block;
    margin-left: 40%;
    border: solid black 1px;
    padding: 1rem 1rem;
}

#email{
    margin-top: 1rem;
}

button{
    margin-top: 1em;
    margin-left: 38%;
}

#listTable{
    margin-left: 40%;
    margin-top: 2%;
}

th, td{
    border: dashed blue 2px;
    padding: 1em;
}